<header>
    <a href="/"><img src="/images/RepoConnect_logo_full_dm.svg"></a>
    <form action="/{{subject}}/admin/shuffle" method="post">
        <button type="submit" class="shuffle">Shuffle</button>
    </form>
</header>