<header>
    <a href="/">
        <picture>
            <source srcset="/images/RepoConnect_logo_full_lm.svg" media="(prefers-color-scheme: light)">
            <img src="/images/RepoConnect_logo_full_dm.svg">
        </picture>
    </a>
</header>