<main>
    {{#each projects}}
        <section>
            <p>{{node.name}}</p>
            <p>{{node.description}}</p>
            <p>{{node.homepageUrl}}</p>
            <p>{{node.url}}</p>
        </section>
    {{/each}}
</main>